# Python Compilation
__pycache__/
*.py[cod]
*$py.class


# System Files
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/
.env

# Zip files (opsional, sepertinya tidak perlu upload zip backup)
*.zip

